body {
  font-size: 16px;
  background: #333333;
  width: 100%;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.nav-menu__link {
  text-decoration: none;
}

.menu,
.nav-menu__item {
  display: block;
  padding: 0;
  margin: 0;
}

.header {
  background: url("../header/images/bg_img.png") no-repeat center top / cover;
  margin-top: 86px;
  color: #fff;
  padding-bottom: 70px;
  padding-top: 70px;
  display: flex;
  width: 100%;
}

.container {
  max-width: 1785px;
  margin: 0px auto;
  padding: 0px 15px;
}
@media (max-width: 1785px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: none;
  }
}

/* Header navigation */
header a {
  color: #fff;
}

.menu {
  display: flex;
}

.menu li a {
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 2px;
}

.menu li a:hover {
  border-bottom: 1px solid #d1a954;
  color: #d1a954;
}

.menu li {
  margin-right: 60px;
}

.tel {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  margin-left: auto;
  letter-spacing: 0.1em;
  padding-bottom: 2px;
  border-bottom: 1px solid #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.tel:hover {
  border-bottom: 1px solid #d1a954;
  color: #d1a954;
}

.nav {
  display: flex;
  align-items: center;
  /* padding-top: 50px; */
}
.nav__burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 100;
  opacity: 0;
}
.nav__burger > div {
  margin: 3px 0px;
}
.nav__burger .first-burger {
  width: 60%;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.burger__menu {
  position: fixed;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  /* display: none; */
  z-index: -1;
  background-color: #d1a954;
}

.menu_burger {
  margin: 100px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.menu_burger li a {
  text-transform: uppercase;
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  padding-bottom: 2px;
}

.menu_burger li a:hover {
  /* border-bottom: 1px solid black; */
  color: black;
}

.menu_burger li {
  margin-bottom: 60px;
}


@media (max-width: 2500px) {
  .container {
    width: 70%;
  }
}
/*От 1600 до 2500*/

@media (max-width: 1600px) {
  .container {
    width: 75%;
  }
}
/*От 1440 до 1600*/

@media (max-width: 1440px) {
  .container {
    width: 75%;
  }
}
/*От 1250 до 1440*/

@media (max-width: 1250px) {
  .container {
    width: 80%;
  }

  .menu li a {
    text-transform: uppercase;
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
  }
  .menu li {
    margin-right: 40px;
  }
  .tel {
    font-size: 18px;
    margin-left: auto;
    padding-bottom: 2px;
    border-bottom: 1px solid #fff;
  }
}

@media (max-width: 1000px) {
  .container {
    width: 90%;
  }
  .menu li a {
    font-size: 18px;
    line-height: 15px;
  }
  .menu li {
    margin-right: 30px;
  }
  .tel {
    font-size: 18px;
    margin-left: auto;
  }
}
/*От 800 до 1000*/
@media (max-width: 900px) {
  .menu li a {
    font-size: 16px;
    line-height: 15px;
  }
  .menu li {
    margin-right: 30px;
  }
  .tel {
    font-size: 16px;
    margin-left: auto;
  }
}
@media (max-width: 800px) {
  .header {
    padding-bottom: 40px;
    padding-top: 40px;
  }
  .container {
    width: 80%;
    /* margin-left: 5%; */
  }
  .menu li a {
    font-size: 14px;
    line-height: 16px;
  }
  .menu li {
    margin-right: 14px;
  }
  .tel {
    font-size: 14px;
    margin-left: auto;
    margin-top: 7px;
  }
}
/*От 600 до 700*/

@media (max-width: 600px) {
  .header {
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .container {
    width: 95%;
    /* margin-left: 0; */
    /* margin-right: 5%; */
  }
  .menu li a {
    font-size: 14px;
    line-height: 12px;
  }
  .menu li {
    margin-right: 15px;
  }
  .tel {
    font-size: 14px;
    margin-left: auto;
  }
}
/*От 400 до 600*/
@media (max-width: 500px) {
  .menu li a {
    font-size: 8px;
    line-height: 12px;
  }
  .menu li {
    margin-right: 12px;
  }
  .menu {
    display: none;
  }
  .tel {
    display: none;
  }
  .nav__burger {
    opacity: 1;
  }
  .burger-menu{
    opacity: 1;
  }
  .burger-tel{
    display: block;
  }
}
@media (max-width: 400px) {
  .header {
    margin-top: 10px;
  }
  .container {
    width: 95%;
    /* margin-left: 0; */
    /* margin-right: 5%; */
  }
  .menu li a {
    font-size: 7px;
    line-height: 10px;
  }
  .menu li {
    margin-right: 4px;
  }
  .menu {
    display: none;
  }
  .tel {
    display: none;
  }
  .nav__burger {
    opacity: 1;
  }
  .burger-menu{
    opacity: 1;
  }
}

.main-content__image {
  background: url(images/Театр_Соловцов_Киев_1910_03.jpg) center center/cover
    no-repeat;
  width: 400px;
  height: 200px;
  float: left;
  margin: 10px 10px 0px 0px;
  border: 2px solid #d1a954;
  border-radius: 10px;
}
.parts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 100px;
  margin-top: 100px;
}
.main-content__image.second {
  background: url(images/Памятник_Ивану_Франко_в_Киеве.jpg) center center/cover
    no-repeat;
  width: 400px;
  height: 270px;
  float: right;
  margin: 10px 0px 0px 10px;
}

.main-content__title {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 65px;
  /* text-align: center; */
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #d1a954;
  margin: 0 auto;
  text-align: center;
}

.main-content__title span {
  color: #fff;
}
.first-part {
  width: 33.3333%;
  height: 308px;
  /* overflow: auto; */
  /* margin: 0px 20px; */
}
.second-part {
  width: 33.3333%;
  height: 308px;

  /* margin: 0px 20px; */
}
.third-part {
  width: 33.3333%;
  height: 308px;
  /* overflow: auto; */
  /* margin: 0px 20px; */
}

.main-content__suptitle {
  font-family: "Open Sans Condensed";
  font-size: 20px;
  color: #fff;
  text-align: justify;
  /* letter-spacing: 1px; */
  text-align: center;
}

.main-content__suptitle .hr {
  max-width: 100%;
  background-color: #fff;
  height: 2px;
  margin: 20px 0px;
  opacity: 0.4;
}

.main-content__ul {
  font-family: "Open Sans Condensed";
  font-size: 24px;
  color: #fff;
  padding-left: 25px;
}

.main-content__list-item span {
  color: #d1a954;
}

.footer .footer-line {
  background-color: #565656;
  max-width: 100%;
  height: 3px;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.footer-content {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}

.iframe {
  /* margin: 0 auto; */
  text-align: center;
  /* max-width: 1000px; */
}
.iframe iframe {
  width: 66%;
}

@media (max-width: 1000px) {
  .parts{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .parts > div{
    margin-bottom: 50px;

  }
  .first-part{
    height: 250px;
    width: 100%;
  }
  .second-part{
    /* margin-bottom: 140px; */
    width: 100%;
  }
  .third-part{
    width: 100%;
    height: 250px;
  }
  .main-content__suptitle{
    font-size: 24px;
  }
}